@import 'https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    background: url('1820901.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}
.container{
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
 clear: both;
}

.head{
    text-align: center;
    font-family: 'Rubik Burned', system-ui;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.5rem;

}
.head a{
    text-decoration: none;
    color: white;
}
header{
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.769) 0%, rgba(0, 0, 0, 0.623) 100%, rgb(255, 0, 0) 100%  );
    text-align: center;
}

nav {
    font-family: 'Bungee Shade', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 65px;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        margin-top: 5px;
    }

    nav a {
        width: 100%;
        box-sizing: border-box;
        margin: 20px 0;
        text-align: center;
        padding: 10px 0;
    }
}
nav a{
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    border-radius: 45px;
    padding: 11px 18px;
}

nav button{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 35px;
    padding: 11px 18px;
}

nav a:hover,
nav button:hover{
    color: #000000;
    background-color: #d3cde1a7;
}

.projects,
.exercises {
    position: relative;
    display: inline-block;
    font-family: 'Bungee Shade', sans-serif;
    font-size: 12px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.projects button,
.exercises button {
    font-family: 'Bungee Shade', sans-serif;
    font-size: 24px;
}

.projects-child,
.exercises-child {
    display: none;
    background-color: rgba(0, 0, 0, 0.523);
    min-width: 150px;
    position: absolute;
    width: 50px;
    text-align: center;
    padding: 10px;
    margin: 5px;

}

.projects-child a,
.exercises-child a {
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 1px;
    text-decoration: none;
    display: block;
    font-size: 17px;
    text-align: left;
    font-family: 'Black Ops One', system-ui;
    /* width: 138px; */
    z-index: 2;
}

.projects:hover .projects-child,
.exercises:hover .exercises-child {
    display: block;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    /* width: 115px; */
    z-index: 2;

}

.projects-menu,
.exercises-menu {
    position: relative;
    display: inline-block;
    font-family: 'Bungee Shade', sans-serif;
    font-size: 24px;
    cursor: pointer;
}


.projects-menu:hover .projects-child,
.exercises-menu:hover .exercises-child {
    display: block;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}


.projects-child,
.exercises-child {
    display: none;
    background-color: rgba(0, 0, 0, 0.523);
    min-width: 150px;
    position: absolute;
    top: 100%;
    width: 170px;
    text-align: center;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}


.title{
    text-align: center;
    color: white;
    font-family: 'Gamja Flower', sans-serif;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.769) 0%, rgba(0, 0, 0, 0.623) 100%, rgb(255, 0, 0) 100%  );
}

.linkler{
    text-align: center;
    color: white;
    font-family: 'Gamja Flower', sans-serif;
    width: 80%;
    padding: 5px;
    margin: 10%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}
.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
    text-decoration: none;
    width: 155px;
    height: 125px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #ff000032;
    text-align: center;
    border-radius: 35px;
    margin: 10px; /* Add margin for spacing */
}


.linkler a:hover{
    color: #ff0000;
    background-color: #6559593d;
    cursor: pointer;
}

.photo{
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.photo img{
    width: 400px;
    height: 200px;

}
.content{
    /* margin-top: 15rem; */

}

.message{
    width: 100%;
    font-size: 1.2rem;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    /* border: 3px solid rgb(255, 255, 255); */
    height: 40px;
}
form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background-color: #ff00006b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style the form labels */
label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

/* Style the form inputs and textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
}

/* Style the placeholder text color */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: rgb(0, 0, 0);
}

/* Style the submit button */
.submit {
    background-color: #3f0303;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}
.submit:hover{
    background-color: #ff0000;
}

.footer{
    position: fixed;
      left:0px; 
      bottom:0px;
      background-color: rgb(255, 228, 196);
      width: 100%;
      text-align: center;
}
.footer button {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    background-color: #efc4c4;
    padding: 5px;
    width: 100px;
  }
  .footer button:hover {
    background-color: #bd225d9d;
    color: rgb(255, 255, 255);
  }
  
.div-results {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: #ccc; */
    height: 5rem;
}

#results {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#results p {
    /* Adjust width and height as needed */
    width: 200px;
    height: 200px;
}
