@import 'https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: url('1820901.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    display: inline-block;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(171, 127, 51, 0.449);
    /* z-index: 1; */
    margin: auto;
    /* position: absolute; */
}
.logo{
    /* border: 4px solid white; */
    font-family: 'Rubik Burned', system-ui;
    color: white;
    font-size: 75px;
    margin: auto;
    text-align: center;
    width: 70%;
    height: 250px;
}
.person{
    font-family: 'Rubik Burned', system-ui;
    color: white;
    font-size: 50px;
    margin: auto;
    /* width: 70%; */
    /* justify-content: center; */
    /* border: 4px solid red; */
    width: 98vw;
    height: 78vh;
    padding: 20px;
}
img {
    border-radius: 40% 10% 40% 10%;
    filter: grayscale(100%);
  }
  a:hover img {
    border-radius: 10% 40% 10% 40%;
    transition: 0.8s;
    filter: grayscale(0%)
  }