@import 'https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: url('1820901.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    display: inline-block;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(171, 127, 51, 0.449);
    /* z-index: 1; */
    margin: auto;
    /* position: absolute; */
}
.logo{
    /* border: 4px solid white; */
    /* border-style: double; */
    font-family: 'Rubik Burned', system-ui;
    color: white;
    font-size: 75px;
    margin: auto;
    text-align: center;
    width: 70%;
    height: 230px;
}
.logo h1{
    margin-top: 25px;
}
.person{
    font-family: 'Rubik Burned', system-ui;
    color: white;
    font-size: 50px;
    margin: auto;
    /* border: 4px solid red; */
    width: 98vw;
    height:13em;
    padding: 40px;
}
img {
    border-radius: 50% 30% 50% 30%;
    /* filter: grayscale(100%); */
    filter:sepia(100%);
    width: 215px;
    padding: 30px;
    transition: 0.8s;
  }
  a:hover img {
    border-radius: 30% 50% 30% 50%;
    transition: 0.8s;
    filter: grayscale(0%);
    
  }