@import './components/About/About.scss';
@import './components/Contact/Contact.scss';
@import './components/Footer/Footer.scss';
@import './components/Header/Header.scss';
@import './components/Sections/Sections.scss';
@import './components/Search/Search.scss';
@import './components/Sidebar/Sidebar.scss';
@import './components/Home/Home.scss';
@import './scss/_reset.scss';
@import './scss/_titles.scss';
@import './scss/mixins.scss';
@import './scss/variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(112, 158, 197);
}